@model Proyecto.Models.Sanciones_Equipo.Sanciones_Equipo

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.idSancion_Equipo)

<div class="col-md-12">
    <div class="col-md-3">

        <div class="form-group input-group-sm">
            <small>
                @Html.LabelFor(model => model.descripcion, new { @class = "control-label" })
            </small>
            @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control input-sm ", style = "max-width: 100%;", placeholder = "Introduzca el descripcion" })
            <small>
                @Html.ValidationMessageFor(model => model.descripcion)
            </small>
        </div>

        <div class="form-group input-group-sm">
            <small>
                @Html.LabelFor(model => model.multa, new { @class = "control-label" })
            </small>
            @Html.TextAreaFor(model => model.multa, new { @class = "form-control ckeditor", style = "max-width: 100%;", placeholder = "Introduzca la multa" })
            <small>
                @Html.ValidationMessageFor(model => model.multa)
            </small>
        </div>
        <div class="col-md-9">
            <div class="form-group input-group-sm col-md-12">
                <small>
                    @Html.LabelFor(m => m.idCategoria_Sancion)
                </small>
                @Html.TextAreaFor(m => m.idCategoria_Sancion, 8, 0, new { @class = "form-control ckeditor", style = "max-width: 100%;", placeholder = "Introduzca el idCategoria_Sancion" })
                <small>
                    @Html.ValidationMessageFor(m => m.idCategoria_Sancion)
                </small>
            </div>
            <div class="col-md-9">
                <div class="form-group input-group-sm col-md-12">
                    <small>
                        @Html.LabelFor(m => m.idEquipo)
                    </small>
                    @Html.TextAreaFor(m => m.idEquipo, 8, 0, new { @class = "form-control ckeditor", style = "max-width: 100%;", placeholder = "Introduzca el idEquipo" })
                    <small>
                        @Html.ValidationMessageFor(m => m.idEquipo)
                    </small>
                </div>


            </div>
    

    </div>
</div>


@if (!string.IsNullOrEmpty(ViewBag.ErrorMensaje))
{

    <div class="col-xs-12 alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @ViewBag.ErrorMensaje
    </div>

}



