
@model Proyecto.Models.Ligas.Ligas

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.idLiga)
<div class="col-md-12">
    <div class="col-md-3">

        <div class="form-group input-group-sm">
            <small>
                @Html.LabelFor(model => model.nombre, new { @class = "control-label" })
            </small>
            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control input-sm ", style = "max-width: 100%;", placeholder = "Introduzca el nombre" })
            <small>
                @Html.ValidationMessageFor(model => model.nombre)
            </small>
        </div>

        <div class="form-group input-group-sm">
            <small>
                @Html.LabelFor(model => model.idCategoriaLiga, new { @class = "control-label" })
            </small>
            @Html.TextAreaFor(model => model.idCategoriaLiga, new { @class = "form-control ckeditor", style = "max-width: 100%; height: 430px", placeholder = "Introduzca la idCategoriaLiga" })
            <small>
                @Html.ValidationMessageFor(model => model.idCategoriaLiga)
            </small>
        </div>


    </div>
    </div>
</div>