
@model IEnumerable<Domain.Singles.sEquipos>
@using GridMvc.Sorting
@using GridMvc.Html

@{
    ViewBag.Title = "Clasificacion";
    Html.RenderAction("HeadInfo", "Ligas", new { id = ViewBag.LigaId });
}


<ul id="tabs" class="nav nav-tabs na" data-tabs="tabs">
    <li>@Html.ActionLink("Ligas", "Index", "Ligas", null, new { @class = "btn btn-primary" })</li>
    @*<li>@Html.ActionLink("Propiedades", "Properties", "Ligas", new { id = ViewBag.LigaId }, null)</li>*@
    <li class="active"><a href="#" data-toggle="tab">Clasificacion</a></li>
    <li>@Html.ActionLink("Calendario", "Calendario", "Partidos", new { idLiga = ViewBag.LigaId }, null)</li>
    <li>@Html.ActionLink("Resultados", "Resultados", "Partidos", new { idLiga = ViewBag.LigaId }, null)</li>

   

</ul>


@using (Html.BeginForm("Clasificacion", "Ligas", FormMethod.Get, new { @class = "pull-right", role = "search" }))
{
    
    @Html.Hidden("liga", (long)ViewBag.LigaId)
}


<div style="padding: 10px 0 5px 0;">
    <p id="warningMessage" class=" bg-warning  text-warning"></p>
</div>


<small>

    @Html.Grid(Model).Columns(columns =>
            {

                columns.Add(m => m.Nombre).Titled("Nombre");
                columns.Add(m => m.Partidos_Jugados).Titled("Jugados");
                columns.Add(m => m.Partidos_Ganados).Titled("Ganados");
                columns.Add(m => m.Partidos_Perdidos).Titled("Perdidos");
                columns.Add(m => m.Partidos_Empatados).Titled("Empatados");
                columns.Add(m => m.Puntos_Encajados).Titled("Puntos a favor");
                columns.Add(m => m.Puntos_Anotados).Titled("Puntos en contra");
                columns.Add(m => m.Puntos).Titled("Puntos");

                columns.Add()
                     .Encoded(false)
                     .Sanitized(false)                     
                     .RenderValueAs(m => CustomRenderingOfColumnFicha(m));

            }).WithPaging(20).Sortable(true) @* .SetRowCssClasses(m => (m.Deleted || !m.Enabled) ? "active" : "")*@

</small>

@helper CustomRenderingOfColumnFicha(Domain.Singles.sEquipos datos)
{
    <div>

        @*@if (User.IsInRole(Domain.Definitions.eRolesUsers.Administrador.ToString()) || User.IsInRole(Domain.Definitions.eRolesUsers.Supervisor.ToString()))
        {
            <div class="pull-right" style="text-align:right">

                <div class="btn-group-xs">

                    @if (datos.Deleted)
                    {
                        @Ajax.ActionLink(" ", "RegisterEnable", "Catalogs", new { id = datos.Id },
                                 new AjaxOptions { HttpMethod = "POST", OnSuccess = "checkSuccess" },
                            new { @class = "btn btn-default btn-xs glyphicon glyphicon-ok", title = "Habilitar" })
                    }
                    else
                    {

                        if (datos.Enabled)
                        {
                            @Ajax.ActionLink(" ", "RegisterDisable", "Catalogs", new { id = datos.Id },
                                     new AjaxOptions { HttpMethod = "POST", OnSuccess = "checkSuccess" },
                                new { @class = "btn btn-default glyphicon glyphicon-remove", title = "Deshabilitar" })

                        }
                        else
                        {
                            @Ajax.ActionLink(" ", "RegisterEnable", "Catalogs", new { id = datos.Id },
                                     new AjaxOptions { HttpMethod = "POST", OnSuccess = "checkSuccess" },
                                new { @class = "btn btn-default glyphicon glyphicon-ok", title = "Habilitar" })

                        }

                        if (User.IsInRole(Domain.Definitions.eRolesUsers.Administrador.ToString()))
                        {
                            @Ajax.ActionLink(" ", "RegisterDelete", "Catalogs", new { id = datos.Id },
                                 new AjaxOptions { HttpMethod = "POST", OnSuccess = "checkSuccess" },
                            new { @class = "btn btn-default btn-sm glyphicon glyphicon-trash", title = "Eliminar" })

                        }

                    }

                </div>

            </div>
        }*@

    </div>


}

<script>

    function checkSuccess(result) {

        if (result.success == true) {
            if (result.reload) document.location.reload();
            if (result.redirect != null) document.location.href = result.redirect;
        };

        $('#warningMessage').html(result.messaje);

    }

</script>