@{
    ViewBag.Title = "Gestionar liga";
}

<div style="padding: 10px 0 5px 0;">
    <p id="warningMessage" class=" bg-warning  text-warning"></p>
</div>

<ul id="tabs" class="nav nav-tabs na" data-tabs="tabs">

    <li>@Html.ActionLink("Ligas", "Index", "Liga", null, new { @class = "btn btn-primary" })</li>

    @if (ViewBag.NuevaLiga == true)
    {
        <li class="active"><a href="#general" data-toggle="tab">Nueva liga</a></li>
    }
    else
    {
        <li class="active"><a href="#general" data-toggle="tab">Datos de la liga</a></li>
        <li><a href="#clasificacion" data-toggle="tab">Clasificacion</a></li>
        <li><a href="#licencias" data-toggle="tab">Licencias</a></li>
        <li><a href="#productos" data-toggle="tab">Productos</a></li>
        <li><a href="#Registros" data-toggle="tab">Registros</a></li>
        @*<li><a href="#EstadosTickets" data-toggle="tab">Estados de Tickets</a></li>
            <li><a href="#ObjetosTickets" data-toggle="tab">Objetos de Tickets</a></li>
            <li><a href="#TicketPrioridad" data-toggle="tab">Prioridades de ticket</a></li>
            <li><a href="#TicketArea" data-toggle="tab">Areas de ticket</a></li>*@

        <li><a href="#TicketSettings" data-toggle="tab">Ticket Settings</a></li>
        <li><a href="#DataSQLS" data-toggle="tab">DataSQLS</a></li>
    }

</ul>

<div style="padding: 30px 30px 0 30px;">

    <div id="my-tab-content" class="tab-content">

        <div class="tab-pane fade active in ajaxPartialContents" id="general" data-url="@Url.Action(ViewBag.NuevaLiga ? "AjaxCreate" : "AjaxDetails", "Ligas", ViewBag.NuevaLiga ? null : new { id = ViewBag.idLiga })">
            <img src="~/Content/images/indicator.white.gif" /> Cargando ...
        </div>

        @if (ViewBag.NuevaLiga != true)
        {
            <div class="tab-pane fade in ajaxPartialContents" id="clasificacion" data-url="@Url.Action("Lista", "Equipos", new { idLiga = ViewBag.idLiga })">
                <img src="~/Content/images/indicator.white.gif" /> Cargando ...
            </div>

            <div class="tab-pane fade in ajaxPartialContents" id="productos" data-url="@Url.Action("AjaxByClient", "Product", new { client = ViewBag.CodigoCliente })">
                <img src="~/Content/images/indicator.white.gif" /> Cargando ...
            </div>

            @*<div class="tab-pane fade in ajaxPartialContents" id="DataSQLS" data-url="@Url.Action("AjaxByClient", "DataSQLS", new { client = ViewBag.CodigoCliente })">
                    <img src="~/Content/images/indicator.white.gif" /> Cargando ...
                </div>*@


            @*<div class="tab-pane fade in ajaxPartialContents" id="EstadosTickets" data-url="@Url.Action("Lista", "TicketEstadoClient", new { idClient = ViewBag.CodigoCliente })">
                    <img src="~/Content/images/indicator.white.gif" /> Cargando .....
                </div>
                <div class="tab-pane fade in ajaxPartialContents" id="ObjetosTickets" data-url="@Url.Action("Lista", "TicketObjetoClient", new { idClient = ViewBag.CodigoCliente })">
                    <img src="~/Content/images/indicator.white.gif" /> Cargando .....
                </div>

                <div class="tab-pane fade in ajaxPartialContents" id="TicketPrioridad" data-url="@Url.Action("Lista", "TicketPriorityClient", new { idCliente = ViewBag.CodigoCliente })">
                    <img src="~/Content/images/indicator.white.gif" /> Cargando ...
                </div>

                <div class="tab-pane fade in ajaxPartialContents" id="TicketArea" data-url="@Url.Action("Lista", "TicketAreaClient", new { idCliente = ViewBag.CodigoCliente })">
                    <img src="~/Content/images/indicator.white.gif" /> Cargando ...
                </div>*@



            <div class="tab-pane fade in" id="TicketSettings">

                <div class="col-sm-4">

                    <div class="panel panel-default">
                        <div class="panel-heading">Objetos</div>
                        <div class="panel-body">
                            <div class="col-lg-12 ajaxPartialContents" id="ObjetosTickets" data-url="@Url.Action("Lista", "TicketObjetoClient", new { idClient = ViewBag.CodigoCliente })">
                                <img src="~/Content/images/indicator.white.gif" /> Cargando .....
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="panel panel-default">
                        <div class="panel-heading">Areas</div>
                        <div class="panel-body">
                            <div class="col-lg-12 ajaxPartialContents" id="TicketArea" data-url="@Url.Action("Lista", "TicketAreaClient", new { idCliente = ViewBag.CodigoCliente })">
                                <img src="~/Content/images/indicator.white.gif" /> Cargando ...
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Prioridades</div>
                        <div class="panel-body">
                            <div class="col-lg-12 ajaxPartialContents" id="TicketPrioridad" data-url="@Url.Action("Lista", "TicketPriorityClient", new { idCliente = ViewBag.CodigoCliente })">
                                <img src="~/Content/images/indicator.white.gif" /> Cargando ...
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Tipos</div>
                        <div class="panel-body">
                            <div class="col-lg-12 ajaxPartialContents" id="TicketTipo" data-url="@Url.Action("Lista", "TicketTipoClient", new { idCliente = ViewBag.CodigoCliente })">
                                <img src="~/Content/images/indicator.white.gif" /> Cargando ...
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4">


                    <div class="panel panel-default">
                        <div class="panel-heading">Estados</div>
                        <div class="panel-body">
                            <div class="col-lg-12 ajaxPartialContents" id="EstadosTickets" data-url="@Url.Action("Lista", "TicketEstadoClient", new { idClient = ViewBag.CodigoCliente })">
                                <img src="~/Content/images/indicator.white.gif" /> Cargando .....
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Anexos</div>
                        <div class="panel-body">
                            <div class="col-lg-12 ajaxPartialContents" id="TicketAnexoTipo" data-url="@Url.Action("Lista", "TicketAnexoTipoClient", new { idCliente = ViewBag.CodigoCliente })">
                                <img src="~/Content/images/indicator.white.gif" /> Cargando ...
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade in" id="DataSQLS">

                <div>

                    <div class="panel panel-default">
                        <div class="panel-heading">DataSQLS vinculados al cliente</div>
                        <div class="panel-body">
                            <div class="col-lg-12 ajaxPartialContents" id="ClienteDataSQLS" data-url="@Url.Action("khg", "Equipos", new { idLiga = ViewBag.idLiga })">
                                <img src="~/Content/images/indicator.white.gif" /> Cargando .....
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>

</div>


<div class="row">

</div>


<script type="text/javascript">

    $(document).ready(function (e) {

        // Cargamos asincronamente las secciones parciales que tienen establecida una URL.
        $(".ajaxPartialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });

    });

    function CheckSuccess(result) {
        if (result.success == true) {
            if (result.reload) document.location.reload();
            if (result.redirect != null) document.location.href = result.redirect;
        };
    };

</script>
