@model IEnumerable<Domain.Singles.sPartidos>
@using GridMvc.Html
@{
    ViewBag.Title = "Partidos en directo";
}


<div style="padding: 10px 0px 5px 0px;">
    <p id="warningMessage" class=" bg-warning  text-warning"></p>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div id="modalContent" class="modal-content">

        </div>
    </div>
</div>

<div class="modal" id="blockModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <img src="~/Content/images/loading.gif" />
</div>
<!-- Modal -->


<div class="panel panel-default">

    <div class="panel-heading">
        @using (Html.BeginForm("Index", "Partidos", FormMethod.Get, new { @class = "pull-right", role = "search" }))
        {
            @Html.TextBox("searchStr", null, new { @class = "form-control input-sm", placeholder = "Buscar...", size = "40" })
        }
        <h4>@ViewBag.Title</h4>
    </div>

    <div class="panel-body">
        <br />
        <small>
            @Html.Grid(Model).EmptyText("No hay datos que mostrar").EmptyText("No hay datos que mostrar").Columns(columns =>
            {
            columns.Add(m => m.ReturnDateForDisplay).Titled("Fecha");
            columns.Add(m => m.nombreLocal).Titled("Local");
            columns.Add(m => m.nombreVisitante).Titled("Local");


            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(m => CustomRenderingOfColumn(m.idPartido, (int)m.idLive));

            }).WithPaging(10).Sortable(true)
        </small>
    </div>
</div>

@Html.ActionLink(" Iniciar directo", "selectorPartidos", "Live", null, new { @class = "btn btn-primary" })


@helper CustomRenderingOfColumn(int idPartido, int idLive)
{
    <div class="btn-group-xs">

        @Html.ActionLink(" ", "partidoEnDirecto", "Live", new { idLive = idLive }, new { @class = "btn btn-default btn-sm glyphicon glyphicon glyphicon-play", title = "Ir al directo" })
        @Html.ActionLink(" ", "borrarLive", "Live", new { id = idLive, idPartido = idPartido }, new { @class = "btn btn-default btn-sm glyphicon glyphicon-remove", title = "Borrar live" })
    </div>
}


<script>

    function ClearModal() {
        $('#modalContent').html('');
    }

    function CheckSuccess(result) {
        $('#myModal').modal('hide');
        $('#blockModal').modal('hide');

        if (result.success == true) {
            if (result.reload) document.location.reload();
            if (result.redirect != null) document.location.href = result.redirect;
        };

        $('#warningMessage').html(result.messaje);
    }


    function Block() {
        $('#blockModal').modal();
    }

</script>