@model Proyecto.Models.ComentariosLive.ComentariosLive

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.idComentario)

<div class="">
    <div class="row col-md-12">
        @Html.TextBoxFor(m => m.idLive, new { @Value = ViewBag.idLive, @type = "hidden" })
        <div class="form-group input-group-sm col-md-4 pull-left">
            <small>
                @Html.LabelFor(model => model.marcadorLocal, new { @class = "control-label" })
            </small>
            @Html.TextBoxFor(model => model.marcadorLocal, new { @Value = (int)ViewBag.marcadorLocal, @class = "form-control ckeditor", style = "max-width: 100%;", placeholder = "Dejar en blanco si el marcador no ha cambiado" })
            <small>
                @Html.ValidationMessageFor(model => model.marcadorLocal)
            </small>
        </div>
        <div class="form-group input-group-sm col-md-4 pull-right">
            <small>
               @Html.LabelFor(model => model.marcadorVisitatne, new { @class = "control-label" })
            </small>
            @Html.TextBoxFor(m => m.marcadorVisitatne, new { Value = (int)ViewBag.marcadorVisitante, @class = "form-control ckeditor", style = "max-width: 100%;", placeholder = "Dejar en blanco si el marcador no ha cambiado" })
            <small>
                @Html.ValidationMessageFor(m => m.marcadorVisitatne)
            </small>
        </div>
    </div>

    <div class="form-group input-group-sm">
        <small>
            @Html.LabelFor(model => model.texto, new { @class = "control-label" })
        </small>
        @Html.TextAreaFor(model => model.texto, new { @class = "form-control input-sm ", style = "max-width: 100%; height: 200px", placeholder = "Introduzce tu comentario" })
        <small>
            @Html.ValidationMessageFor(model => model.texto)
        </small>
    </div>
</div>



@if (!string.IsNullOrEmpty(ViewBag.ErrorMensaje))
{

    <div class="col-xs-12 alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @ViewBag.ErrorMensaje
    </div>

}



