@model Proyecto.Models.Live.Live

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.idLive)

<div class="col-md-12">
    <div class="col-md-3">

        <div class="form-group input-group-sm">
            <small>
                @Html.LabelFor(model => model.idLive, new { @class = "control-label" })
            </small>
            @Html.TextBoxFor(model => model.idLive, new { @class = "form-control input-sm ", style = "max-width: 100%;", placeholder = "Introduzca el idLive" })
            <small>
                @Html.ValidationMessageFor(model => model.idLive)
            </small>
        </div>
        <div class="form-group input-group-sm">
            <small>
                @Html.LabelFor(model => model.TiempoTranscurrido, new { @class = "control-label" })
            </small>
            @Html.TextBoxFor(model => model.TiempoTranscurrido, new { @class = "form-control input-sm ", style = "max-width: 100%;", placeholder = "Introduzca el TiempoTranscurrido" })
            <small>
                @Html.ValidationMessageFor(model => model.TiempoTranscurrido)
            </small>
        </div>



@if (!string.IsNullOrEmpty(ViewBag.ErrorMensaje))
{

    <div class="col-xs-12 alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @ViewBag.ErrorMensaje
    </div>

}



